#client-date{
    width: 30%;
    min-width: 510px;
}
#server-date{
    width: 30%;
    min-width: 510px;
}
.clock-sign{
    text-align: center;
    font-size: xx-large;
}
#harmonograph-div{
    width: 40%;
    min-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#clocks-harm-div{
    display: flex;
    flex-direction: row;
}
#canvas{
    width: 500px;
    height: 500px;
}
#here-text{
    float: left;
    font-size: xx-large;
    text-align: left;
    justify-content: left;
    opacity: 0;
    animation-delay: 0.5s;
    animation: text-appear 2s linear forwards;
}
#apps-div{
    display: flex;
    flex-direction: row;
    text-align: left;
}
#c-app-div{
    float: left;
    width: 40%;
    opacity: 0;
    animation: text-appear 2s linear forwards;
    animation-delay: 2s;
    font-size: large;
}
#java-app-div{
    float: right;
    width: 40%;
    opacity: 0;
    animation: text-appear 2s linear forwards;
    animation-delay: 2s;
    font-size: large;
}
#app-description-text{
    margin-bottom: 20px;
    opacity: 0;
    animation: text-appear 3s linear forwards;
    animation-delay: 2s;
    font-size: x-large;
}
#app-description-text label{
    margin-top: 10px;
    font-size: x-large;
}
.image{
    height: 256px;
    width: 256px;
}
.image:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.25);
}
@keyframes text-appear {
    50% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}